<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://projectr-data-collector.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8c97b568-9293-4373-8e58-147aaccf54ce/resourceGroups/projectrdatacollector2/providers/Microsoft.Web/sites/projectr-data-collector</ResourceId>
    <UserName>$projectr-data-collector</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://projectr-data-collector.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>